@font-face {
  font-family: 'Planet Kosmos';
  font-style: normal;
  font-weight: normal;
  src: local('Planet Kosmos'), url('../assets/PLANK___.woff') format('woff');
}

body{
  /* background: #252525; */
  background-color: #0D0208;
  margin: 0;
  /* position: absolute; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

a{
  text-decoration: none;
  color: #00FF41;
  height: fit-content; /* test */
}

h2{
  display: inline;
}

a:hover{
  text-decoration: underline;
}

@media (min-width: 1024px){
  body{
    width: 100%;
  }
}